<% if project %>
  <p>
  <% @subtasks = Subtask.where(:project_id => project.id) %>
  <% @trackers = Tracker.all %>
  <% if @subtasks.first %>
    <div class="box tabular">
    <% @subtasks.each do |subtask| %>
      <span>
        <span><strong>Parent tracker</strong></span>
        <%= select_tag(:parent, options_from_collection_for_select(@trackers, :id, :name, subtask.parent))  %>
        <span><strong>Child tracker</strong></span>
        <%= select_tag(:child, options_from_collection_for_select(@trackers, :id, :name, subtask.child))  %>
      </span>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </p>
<% end %>

